<div class="info-center-box">
  <div class="align-left">
    <span>Score</span>
  </div>
  <div class="align-right">
    <span>889</span>
  </div>

  <div class="align-left">
    <span>Lines</span>
  </div>
  <div class="align-right">
    <span>3</span>
  </div>

  <div class="align-left">
    <span>Level</span>
  </div>
  <div class="align-right">
    <span>1</span>
  </div>

  <div class="align-left">
    <span>Next</span>
  </div>
  <div class="align-right">
    <span>1</span>
  </div>
</div>