@import './variables.scss';

@mixin section {
  margin: $game-margin;
}

@mixin inactive-border {
  border: 2px solid $inactive-color;
}

@mixin active-border {
  border: 2px solid $active-color;
}

@mixin inactive-background {
  background: $inactive-color;
}

@mixin active-background {
  background: $active-color;
}